/*************           body        *****************/
@font-face {
	font-family:"Montserrat-Medium";
	src:url('fonts/Montserrat-Medium.woff') format('woff');
}
@font-face {
	font-family:"Montserrat-Regular";
	src:url('fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
	font-family:"NunitoSans-Regular";
	src:url('fonts/NunitoSans-Regular.woff') format('woff');
}
@font-face {
	font-family:"WorkSans-Regular";
	src:url('fonts/WorkSans-Regular.woff') format('woff');
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight:medium;
}
h1 {
	font-family:"Montserrat-Medium";
	font-weight:bold;
	font-size:36px;
	color:#1d1d1d;
	line-height:1.5em;
	letter-spacing:.2px;
}
h2 {
	font-family:"Montserrat-Medium";
	font-weight:bold;
	font-size:28px;
	color:#191919;
	line-height:2em;
	letter-spacing:.5px;
	text-transform:capitalize;
}
h3 {
	font-family:"Montserrat-Medium";
	font-size:12px;
	color:#000000;
	line-height:3em;
	letter-spacing:.5px;
	text-transform:uppercase;
}
h4 {
	font-family:"Montserrat-Medium";
	font-size:12px;
	color:#FFFFFF;
	line-height:1.2em;
	letter-spacing:.5px;
	text-transform:uppercase;
}
p {
	font-family:"NunitoSans-Regular";
	font-size:16px;
	color:#787878;
	line-height:1.5em;
	letter-spacing:.5px;
	text-align:justify;
	text-transform:capitalize;
}

/************     1.Header Section           **************/

.header-section {
	overflow:hidden;
	background:#E9E9E9;
	padding:40px 0 200px;
}

.header-section .main-menu ul li a {
	font-family:"Montserrat-Medium";
	font-size:12px;
	color:#191919;
	line-height:3em;
	letter-spacing:1px;
}
.header-section .main-menu ul li .active {
	color:#1FCDC3;
}
.header-section .main-menu ul li a:hover {
	color:#1FCDC3;
}
.content {
	display:block;
	width:80%;
	margin:0 auto;
}
.header-section .header-text {
	margin-top:140px;
}
.header-section .header-text p {
	margin-bottom:25px;
}
.bottam {                                 /**** for all buttons this class will  be used ****/
	display:block;
	width:150px;
	text-transform:uppercase;
	text-align:center;
	font-family:"Montserrat-Medium";
	font-size:12px;
	color:#FFFFFF;
	line-height:1.5em;
	letter-spacing:1px;
	background-color:#10C9C3;
	border:none;
	border-radius:0;
	padding:15px 0;
}

/******************          Intro section                 ******************/

.intro-section {
	padding:100px 0;
} 
.intro-section .intro-image {
	margin-top:25px;
} 
.intro-section .content {
	display:block;
	width:60%;
	margin:0 auto;
} 

/****************                           **************/
.skills-section {
	overflow:hidden;
	
}

.skills-section .skill-progess {
	overflow:hidden;
	background:#F9F9F9;
	padding:165px 80px;
}


.skills-section .skillvoid {
	background:#E9E9E9;
	padding:350px 0;
}
.progress-bar-info {
	background:#0CC9C5;
}
.progress-bar {
	height:20%;
}

/***************           work section          ********************/


.work-section .work-topbar{
	padding:100px 0;
	background-color:#10C9C3;
}
.work-section .work-topbar .work-text{
	display:inline;
	margin-right:100px;
}
.work-section .work-topbar i{
	font-size:40px;
	color:#FFFFFF;
}

.work-section .work-image img{
	display:block;
	width:100%;
	height:300px;
	
}
.work-section .work-image .col-md-3,
.work-section .work-image .col-md-12 {
	padding-left:0;
	padding-right:0;
}

.work-section .work-load {
	padding:45px 0;
	background-color:#F5F5F5;
}
.load {
	font-family:"Montserrat-Medium";
	font-size:12px;
	background-color:#F5F5F5;
	color:#8e8e8e;
	text-transform:uppercase;
	line-height:1.5em;
	letter-spacing:.5px;
}

/**********************         process-section                   **************/

.process-section {
	margin:65px 0 100px;
}

.process-section .content{
	width:50%;
}


/******************          topic section                    ***********************/

.topic-section {
	padding:95px 0;
	background-color:#F5F5F5;
}
.topic-section h4 {
	color:#191919;
}
.topic-section i {
	font-size:40px;
	color:#656565;
}
.topic-section h5 {
	font-family:"NunitoSans-Regular";
	font-size:16px;
	color:#787878;
	line-height:1.5em;
	letter-spacing:.1px;
	text-transform:capitalize;
	margin-bottom:50px;
}
.topic-section a {
	text-decoration:none;
}

/****************           comments-section       **********************/

.comments-section {
	background-color:#10C9C3;
	padding:150px 0;
}
.comments-section h2{
	font-family:"Montserrat-Medium";
	font-size:22px;
	color:#FFFFFF;
	line-height:2em;
	letter-spacing:.5px;
	text-transform:capitalize;
}
.comments-section h4{
	font-family:"Montserrat-Medium";
	font-size:12px;
	color:#FFFFFF;
	line-height:1.5em;
	letter-spacing:.5px;
	text-transform:uppercase;
}


/************************       logo section                 *****************/

.logo-section {
	padding:60px 0;
}

/***************************              signup section                    **********************/

.signup-section {
	padding:100px 0;
	background-color:#F5F5F5;
}
.signup-section .content{
	display:block;
	width:40%;
	margin:0 auto 30px;
}
.signup-section form .input-bottom {
	margin-bottom:30px;
}
.signup-section form input {
	font-family:"NunitoSans-Regular";
	color:#787878;
	font-size:13px;
	line-height:1.5em;
	letter-spacing:.5px;
	text-transform:capitalize;
	padding:26px 12px;
	border:none;
}
.signup-section form .big-size input {
	padding:26px 12px 126px;
}
.signup-section form input[type="submit"] {
	font-weight:bold;
	background:#10C9C3;
	color:#FFFFFF;
	padding:20px 36px;
	text-transform:uppercase;
}
.signup-section form input[type="submit"]:hover {
	font-weight:bold;
	background:#FFFFFF;
	color:#10C9C3;
	border:1px solid #10C9C3;
	padding:20px 36px;
	text-transform:uppercase;
	transition:.5s;
}


/**********************                footer section                 *******************************/

.footer-section {
	background:#141414;
	padding:100px 0 50px;
}
.footer-section h2 {
	margin:0;
	color:#FFFFFF;
	font-size:18px;
}
.footer-section p {
	color:#bcbcbc;
	font-size:16px;
}
.footer-section a {
	text-decoration:none;
}
.footer-section h6 {
	color:#bcbcbc;
	font-family:"WorkSans-Regular";
	font-size:13px;
	line-height:1.2em;
	letter-spacing:.5px;
}
.footer-section .col-md-4 {
	margin-bottom:50px;
}




